.envyform-container {
	display: flex;
	justify-content: center;
	margin-top: 10vh;
}

@media screen and (min-aspect-ratio: 1/1) {
	.envyform > label {
		font-family: 'Space Mono';
		margin-right: 2vw;
		font-size: 1.25vw;
	}

	.envyform > label.smaller {
		font-size: 1vw;
	}
	
	.envyform > .gap {
		margin-top: 4vh;
		margin-bottom: 4vh;
	}
}

@media screen and (max-aspect-ratio: 1/1) {
	.envyform > label {
		font-family: 'Space Mono';
		margin-right: 2vw;
		font-size: 2.5vw;
	}

	.envyform > label.smaller {
		font-size: 2vw;
	}
	
	.envyform > .gap {
		margin-top: 5vh;
		margin-bottom: 5vh;
	}
}