<link href="/css/envy-navbar.css" rel="stylesheet" type="text/css">
<div class="envy-navbar">
	<a href="./envy">Envy Homepage</a>
	<a href="./genderenvy?gender=feminine">All Fem Envy</a>
	<a href="./genderenvy?gender=androgynous">All Androgynous Envy</a>
	<a href="./genderenvy?gender=masculine">All Masc Envy</a>
	<a href="./genderenvy?gender=agender">All Agender Envy</a>
</div>
