<html>
	<link href="/common.css" rel="stylesheet" type="text/css">
	<link href="/css/envy.css" rel="stylesheet" type="text/css">
	<%- include(`../meta`) %>
	<body class="darkmode">
		<%- include('../navbar') %>
		<%- include('./envy-navbar') %>
		<div class="envyform-container">
			<form action="./envysearch" method="POST" class="envyform">
				<label for="input2">Tags (separate with commas (i.e. "tag 1,tag-2,tag_3,tag4")):</label>
				<br/>
				<input type="text" id="input2" name="input2">
	
				<br class="gap"/>
			
				<label for="dropdown">Gender:</label>
				<br/>
				<select id="dropdown" name="dropdown">
					<option value="feminine">Feminine</option>
					<option value="androgynous">Androgynous</option>
					<option value="masculine">Masculine</option>
					<option value="agender">Agender</option>
					<option value="any">Any</option>
				</select>

				<br class="gap"/>
			
				<label for="dropdown">Tag Mode (matches every tag or matches one of the tags):</label>
				<br/>
				<select id="dropdown2" name="dropdown2">
					<option value="OR">OR</option>
					<option value="AND">AND</option>
				</select>
			
				<button type="submit">Search</button>
			</form>
		</div>
	</body>
</html>