<html>
    <link href="/common.css" rel="stylesheet" type="text/css">
    <link href="/css/envy.css" rel="stylesheet" type="text/css">
    <%- include(`../meta`) %>
    <body class="darkmode">
        <%- include('../navbar') %>
        <%- include('envy-navbar') %>
    </body>
</html>