<html>
	<link href="/common.css" rel="stylesheet" type="text/css">
	<link href="/css/envy.css" rel="stylesheet" type="text/css">
	<link href="/css/envypost.css">
	<body class="darkmode">
		<%- include('envy-subnavbar') %>
		<div class="post">
			<a href="<%= item['img_url'] %>">
				<img src="<%= item['img_url'] %>" alt="<%= item['img_url'] %>"/>
			</a>
		</div>
	</body>
</html>