<link href="/css/envy-navbar.css" rel="stylesheet" type="text/css">
<div class="envy-navbar">
    <a href="./makeenvy">Make Envy</a>
	<a href="./allenvy">All Envy</a>
    <a href="./envy">Envy</a>
</div>
