<html>
	<link href="/common.css" rel="stylesheet" type="text/css">
	<link href="/css/envy.css" rel="stylesheet" type="text/css">
	<%- include(`../meta`) %>
	<body class="darkmode">
		<%- include('../navbar') %>
		<%- include('./envy-navbar') %>
		<div class="envyform-container">
			<form action="./makeenvy" method="POST" class="envyform">
				<label for="input1">Image URL (e.g. "https://example.com/example.png", http://example.org/example.jpg"):</label>
				<br/>
				<input type="text" id="input1" name="input1" required>
	
				<br class="gap"/>
			
				<label for="input2">Tags (separate with commas (i.e. "tag 1,tag-2,tag_3,tag4")):</label>
				<label for="input2">(do not put spaces before or after the tags (no "tag7 , tag1, tag2"))</label>
				<br/>
				<input type="text" id="input2" name="input2">
	
				<br class="gap"/>
			
				<label for="dropdown">Gender:</label>
				<br/>
				<select id="dropdown" name="dropdown">
					<option value="feminine">Feminine</option>
					<option value="androgynous">Androgynous</option>
					<option value="masculine">Masculine</option>
					<option value="agender">Agender</option>
				</select>
			
				<button type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>