<!DOCTYPE html>
<html>
    <link href="/common.css" rel="stylesheet" type="text/css">
    <%- include('meta') %>
    <body class="darkmode">
        <%- include('navbar') %>
    </body>
    <p style="font-size: 24px; color: whitesmoke; font-family: 'Space Mono';">flavors TBD</p>
</html>
