<!DOCTYPE html>
<html>
	<link href="/common.css" rel="stylesheet" type="text/css">
	<%- include('meta') %>
	<body class="darkmode">
		<%- include('navbar') %>
		<a style="font-size: 12px; color: whitesmoke; font-family: 'Space Mono';" href="https://freedns.afraid.org/">https://freedns.afraid.org/</a>
	</body>
</html>
