<html>
    <link href="/common.css" rel="stylesheet" type="text/css">
    <%- include('meta') %>
    <body class="darkmode">
        <%- include('navbar') %>
        <form action="./makeenvy" method="POST">
            <label for="input1">Image URL</label>
            <input type="text" id="input1" name="input1" required>
        
            <label for="input2">Tags (separate with commas (i.e. "tag1,tag2,tag3"))</label>
            <input type="text" id="input2" name="input2">
        
            <label for="dropdown">Gender</label>
            <select id="dropdown" name="dropdown">
                <option value="feminine">Feminine</option>
                <option value="androgynous">Androgynous</option>
                <option value="masculine">Masculine</option>
                <option value="agender">Agender</option>
            </select>
        
            <button type="submit">Submit</button>
        </form>
    </body>
</html>