<!DOCTYPE html>
<html>
	<link href="/common.css" rel="stylesheet" type="text/css">
	<link href="/css/minecraft.css" rel="stylesheet" type="text/css">
    <%- include('meta') %>
    <body class="darkmode">
        <%- include('navbar') %>
		<h1 class="infotitle">Minecraft Client Download</h1>
		<div class="downloads">
			<a href="https://drive.google.com/file/d/17rBuCnXSP5y_zF-PDGDEkjVzuxreZRhu/view?usp=sharing"><h2>MacOS</h2></a>
			<a href="https://drive.google.com/file/d/1EWp5fy65tBNiiRg0ONg7PhvzKIUiLZoO/view?usp=sharing"><h2>Linux</h2></a>
			<a href="https://drive.google.com/file/d/1Quavbgb43p1-5uWE9Ybr62Hhs1bEaMDg/view?usp=sharing"><h2>Universal</h2></a>
			<a href="https://drive.google.com/file/d/1ZcTBxqdKNPO_wbaKc6VMQavklBpOw6zv/view?usp=sharing"><h2>Windows</h2></a>
		</div>
    </body>
</html>
