<link href="/css/navbar.css" rel="stylesheet" type="text/css">
<div class="navbar">
    <a href="/gayfrogs/news">News</a>
	<a href="/gayfrogs/minecraft" class="minecraft-navbar">Minecraft</a>
    <a href="/gayfrogs/envy/envy">Envy</a>
    <p>Podcasts</p>
    <p>Live</p>
</div>
